.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  background: #ccc;
}

button, button:hover {
  background: var(--primary);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

